.jumbotron.frontpage {    
    // background-image: url("/assets/images/tools/front-page.jpg");
    background-size: cover;
    color: white;
    background-position: center center;
    position: relative;
}

