--- 
title: Products 
layout: default 
---
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-md-4 col-sm-12">
      <h1 class="text-center display-6">Our Products</h1>
      <div class="sticky-top p-3 my-2 bg-light justify-text-center pr-4">
        <div class="nav flex-column text-center">
          {% for product in site.data.products.product_order %}
          <a href="#{{ product.label }}" class="list-group-item">{{ product.title }}</a>
          {% endfor %}
          <a href="#services" class="list-group-item">Services</a>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      {% for product in site.data.products.product_order %}
      <div class="container-fluid mb-4">
        <a class="text-center" name="{{ product.label }}">
          <h3>{{ product.title }}</h3>
        </a>
        <hr class="my-3">
        <div class="row card-group">
          {% assign productLabel = product.label %} {% assign modalIndex = 0 %} {% for productInfo in site[productLabel] %}
          <div class="col-md-4 col-12 mb-4">
            <div class="card shadow p-3 bg-dark text-light h-100">
              <img class="card-image-top bg-light" src="{{ site.baseurl }}{{ productInfo.img }}" alt="{{ productInfo.title }} | {{ product.title }}">
              <div class="card-block pt-2">
                <h6 class="card-title my-3">{{ productInfo.title }}</h6>
                <!-- <a href="{{ site.baseurl }}{{ productInfo.url }}" class="btn btn-primary">Details</a> -->
              </div>
              <footer></footer>
                 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{{ productLabel }}{{ forloop.index }}">
                  View
                 </button>
                <!-- Modal -->
                <div class="modal fade" id="{{ productLabel }}{{ forloop.index }}" tabindex="-1" role="dialog" aria-labelledby="{{ productLabel }}{{ forloop.index }}Label"
                  aria-hidden="true">
                  <div class="modal-dialog modal-md" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title text-dark text-center" id="{{ productLabel }}{{ forloop.index }}Label">{{ productInfo.title}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="card-deck">
                            <div class="card bg-secondary">
                                <img src="{{ site.baseurl }}{{ productInfo.img }}" alt="{{ productInfo.title }}">
                              </div>
                                
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </footer>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      {% endfor %}
      <div class="container-fluid mb-4">
        <a name="services">
          <h3>Services</h3>
        </a>
        <hr class="my-4">
        <p class="lead">We also undertake resharpening/regrinding services for all kinds of solid carbide tools. - Drills, Endmills, Reamers,
          Counter-Sinks etc.</p>
      </div>
    </div>
  </div>
</div>