--- 
title: Products 
layout: default 
---
<div class="container-fluid">
  <div class="row flex-xl-nowrap">
    <div class="col-md-4 col-sm-12">
      <div class="sticky-top p-3 my-5 bg-light">
        <div class="nav flex-column">
          {% for product in site.data.products.product_order %}
          <a href="#{{ product.label }}" class="list-group-item">{{ product.title }}</a>
          {% endfor %}
          <a href="#services" class="list-group-item">Services</a>
        </div>
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <h1 class="text-center display-4">Our Products</h1>
      <hr class="my-4">
      {% for product in site.data.products.product_order %}
      <div class="container-fluid mb-4">
        <a class="text-center" name="{{ product.label }}">
          <h3>{{ product.title }}</h3>
        </a>
        <hr class="my-4">
        <div class="row">
          {% assign productLabel = product.label %}
          <div class="card-deck">
            {% for productInfo in site[productLabel] %}
            <div class="col-md-6 col-12 mb-4">
              <div class="card shadow p-3 bg-secondary h-100">
                <img class="card-image-top bg-dark" src="{{ site.baseurl }}{{ productInfo.img }}" alt="{{ productInfo.title }} | {{ product.title }}">
                <div class="card-block pt-3">
                  <h5 class="card-title my-3">{{ productInfo.title }}</h5>
                  <a href="{{ site.baseurl }}{{ productInfo.url }}" class="btn btn-primary">Details</a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="container-fluid mb-4">
          <a name="services">
            <h3>Services</h3>
          </a>
          <hr class="my-4">
          <p class="lead">We also undertake resharpening/regrinding services for all kinds of solid carbide tools. - Drills, Endmills, Reamers, Counter-Sinks etc.</p>
      </div>
    </div>
  </div>
</div>