---
layout: default
---
<section class="wrapper style1">
    <div class="container">
        <section class="wrapper style1">
            <div class="container">
                <header class="major"><h2>{{ page.title }}</h2></header>
            </div>
        </section>

            
            <!--<div class="container">-->
        <div class="row double major">
            <!--<div class="12u">-->
                <section class="6u 12u(mobile)">
                    <div class="box post">
                        <a name="drills" data-lightbox="core-drill" href="{{ site.url }}{{ page.img }}">
                            <img class="product-specs" src="{{ site.url }}{{ page.img }}" alt="">
                        </a>
                    </div>
                </section>
                <section class="6u 12u(mobile)">
                    <div class="box post">
                        {% if page.outline %}
                        <a name="drills" data-lightbox="core-drill" href="{{ site.url }}{{ page.outline }}">
                            <img class="product-specs" src="{{ site.url }}{{ page.outline }}" alt="">
                        </a>
                        {% endif %}
                        <p>
                            {{ page.content }}
                        </p>
                    </div>
                </section>
            </div>
		</div>
</section>