---
layout: default
---
<h1 class="display-5">{{ page.title }}</h1>
<hr class="my-3">
<div class="container">
    <div class="row card-group">
        <div class="card col-md-4 mx-auto p-3 bg-secondary">
            <img src="{{ site.baseurl }}{{ page.img }}" alt="{{ page.title }}">
        </div>
        <div class="card col-md-4 mx-auto p-3 bg-secondary">
            {% if page.outline %}
            <img class="card-img-top" src="{{ site.baseurl }}{{ page.outline }}" alt="{{ page.title }} outline"></img>
            {% endif %}
            <div class="card-body p-3">
                {{ page.content }}
            </div>
        </div>
    </div>
</div>